@font-face {
  font-family: "Poppins Bold";
  src: url("/Poppins-Bold.452c766e.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins Light";
  src: url("/Poppins-Light.cc447e90.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("/Poppins-Medium.46ec8fc9.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("/Poppins-Regular.3d15a542.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("/Poppins-SemiBold.264af2ff.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("/SFProText-Medium.e45a3bef.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Text Regular";
  src: url("/SFProText-Regular.221859be.otf") format("opentype");
  font-weight: 400;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  background-color: var(--clr-primary-100);
  display: inline-block;
  color: var(--clr-primary-200);
  text-transform: uppercase;
  font-family: var(--ff-poppins-regular);
  font-size: 0.7rem;
  text-decoration: none;
  border-radius: 0.5em;
  padding-block: 0.8em;
  padding-inline: 1.8em;
  margin-top: 1em;
  transition: background-color 0.2s ease-in-out;
}
@media (min-width: 62.94em) {
  .btn {
    margin-top: 2em;
    font-size: 0.9rem;
    padding-block: 0.8em;
    padding-inline: 1.8em;
  }
}
.btn:hover {
  background-color: var(--clr-primary-400);
}

.container {
  padding-inline: 0.9375rem;
  width: 100%;
}
@media (min-width: 40em) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}
@media (min-width: 120em) {
  .container {
    max-width: 1366px;
  }
}

.flip-card {
  background-color: transparent;
  aspect-ratio: 1.2;
  perspective: 1000px;
  cursor: pointer;
}
.flip-card + .flip-card {
  margin-top: 1em;
}
@media (min-width: 62.94em) {
  .flip-card + .flip-card {
    margin-top: 0;
  }
}
.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 1px 0px 20px var(--clr-primary-600);
  border: 1px solid var(--clr-primary-300);
}
.flip-card__inner--orange {
  border: 1px solid var(--clr-primary-300);
}
.flip-card__inner--cyan {
  border: 1px solid var(--clr-primary-400);
}
.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg);
}
.flip-card__front, .flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  align-content: center;
  padding-inline: 1em;
}
.flip-card__front {
  background-color: var(--clr-primary-200);
}
.flip-card__front--orange {
  color: var(--clr-primary-300);
}
.flip-card__front--cyan {
  color: var(--clr-primary-400);
}
.flip-card__icon {
  font-size: 4rem;
}
.flip-card__heading {
  font-family: var(--ff-poppins-medium);
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 1em;
  display: grid;
  align-content: baseline;
  height: 2.08em;
}
.flip-card__back {
  color: var(--clr-primary-200);
  transform: rotateY(180deg);
}
.flip-card__back--orange {
  background-color: var(--clr-primary-300);
}
.flip-card__back--cyan {
  background-color: var(--clr-primary-400);
}
.flip-card__back-icon {
  font-size: 2rem;
}
.flip-card__description {
  font-family: var(--ff-sf-pro-text-regular);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 1em;
}
@media (min-width: 62.94em) {
  .flip-card__description {
    font-size: 1.125rem;
  }
}

.header {
  background-color: var(--clr-primary-100);
  box-shadow: 1px 0px 20px var(--clr-primary-600);
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1em;
}
@media (min-width: 62.94em) {
  .header {
    display: block;
    padding-block: 0;
  }
}
.header__logo {
  color: inherit;
  text-decoration: none;
  font-family: var(--ff-poppins-bold);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}
.header__content {
  position: relative;
}
.header__dropdown {
  display: none;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.header__dropdown--active {
  display: block;
}
@media (min-width: 62.94em) {
  .header__dropdown {
    display: block;
    max-width: 4em;
    text-align: left;
  }
  .header__dropdown:hover .header__dropdown-content {
    display: block;
  }
}
.header__dropbtn {
  display: none;
}
@media (min-width: 62.94em) {
  .header__dropbtn {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family: var(--ff-poppins-regular);
    font-size: 0.875rem;
    color: var(--clr-primary-200);
    border: none;
    cursor: pointer;
    background: transparent;
    width: 100%;
  }
}
.header__dropdown-content {
  display: block;
  background-color: transparent;
}
@media (min-width: 62.94em) {
  .header__dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 1px 0px 20px var(--clr-primary-600);
    background-color: var(--clr-primary-200);
    z-index: 1000;
  }
}
.header__dropdown-content a {
  color: inherit;
  display: block;
  padding: 0;
  text-decoration: none;
  font-family: var(--ff-poppins-regular);
  font-size: 0.875rem;
}
@media (min-width: 62.94em) {
  .header__dropdown-content a {
    padding: 0.75em 1em;
    color: var(--clr-primary-100);
  }
  .header__dropdown-content a:hover {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-200);
  }
}
.header__hamburger {
  display: inline-block;
  border: none;
  background: transparent;
  position: absolute;
  margin-top: 0.25em;
  top: 0;
  left: 0;
}
@media (min-width: 62.94em) {
  .header__hamburger {
    display: none;
  }
}
.header__icon {
  color: var(--clr-primary-200);
  font-size: 1.5rem;
}

.nav {
  display: none;
}
.nav--active {
  display: block;
}
@media (min-width: 62.94em) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 62.94em) {
  .nav__list {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 62.94em) {
  .nav__item + .nav__item {
    margin-left: 4em;
  }
}
.nav__link {
  color: inherit;
  text-decoration: none;
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 0.875rem;
  transition: color 0.2s ease-in-out;
}
.nav__link:hover {
  color: var(--clr-primary-300);
}
.nav__link:active {
  color: var(--clr-primary-400);
}

.demo__heading, .support__heading, .testimonials__heading, .clients__heading, .choose__heading, .features__heading, .about__heading {
  font-family: var(--ff-poppins-light);
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-primary-100) !important;
}
@media (min-width: 62.94em) {
  .demo__heading, .support__heading, .testimonials__heading, .clients__heading, .choose__heading, .features__heading, .about__heading {
    font-size: 3rem;
    line-height: 1.5;
  }
}

.clients__description, .features__description, .about__description {
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 1em;
}
@media (min-width: 62.94em) {
  .clients__description, .features__description, .about__description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 0.7em;
  }
}

.banner {
  background-image: url("/banner.a71aae64.svg");
  background-size: contain;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7882352941);
  display: grid;
  place-items: center;
  background-attachment: fixed;
}
@media (min-width: 62.94em) {
  .banner {
    background-position: bottom;
  }
}
.banner__content {
  display: grid;
  place-items: center;
  text-align: center;
  padding-block: 2em;
  padding-inline: 1em;
}
@media (min-width: 62.94em) {
  .banner__content {
    max-width: 45em;
  }
}
.banner__heading {
  font-family: var(--ff-poppins-medium);
  font-size: 2rem;
  color: var(--clr-primary-300);
  line-height: 1;
}
@media (min-width: 62.94em) {
  .banner__heading {
    font-size: 4rem;
  }
}
.banner__description {
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 0.75rem;
  color: var(--clr-primary-200);
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-block: 1em;
}
@media (min-width: 62.94em) {
  .banner__description {
    font-size: 1.3125rem;
  }
}

.about {
  background-color: var(--clr-primary-200);
  background-image: url("/about.d8dd0967.png");
  min-height: 90vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-content: baseline;
  padding-block: 2em;
}
@media (min-width: 62.94em) {
  .about {
    padding-block: 3.75em;
    min-height: 100vh;
  }
}
.about__content {
  display: grid;
  place-items: center;
  text-align: center;
}
@media (min-width: 62.94em) {
  .about__content {
    max-width: 45em;
  }
}
.about__heading {
  color: var(--clr-primary-400);
}
.about__description {
  color: var(--clr-primary-500);
  width: 81%;
}

.features {
  background-color: #fff;
  padding-bottom: 2.75em;
  padding-top: 1.5em;
}
@media (min-width: 62.94em) {
  .features {
    padding-bottom: 3.75em;
  }
}
.features__heading {
  color: var(--clr-primary-300);
  text-align: center;
}
.features__description {
  color: var(--clr-primary-500);
  text-align: center;
  margin-bottom: 1em;
}
@media (min-width: 62.94em) {
  .features__description {
    margin-bottom: 0;
  }
}
@media (min-width: 62.94em) {
  .features__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3em;
    row-gap: 2em;
    margin-top: 3.75em;
  }
}

.choose {
  padding-bottom: 3.75em;
  padding-top: 2em;
}
.choose__heading {
  color: var(--clr-primary-400);
  text-align: center;
}
.choose__content {
  margin-top: 2em;
}
@media (min-width: 62.94em) {
  .choose__content {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
.choose__card {
  color: var(--clr-primary-200);
  padding: 2em 1.5em;
  border-radius: 0.2em;
}
.choose__card + .choose__card {
  margin-top: 1em;
}
@media (min-width: 62.94em) {
  .choose__card + .choose__card {
    margin-top: 0;
  }
}
.choose__card--orange {
  background-color: var(--clr-primary-300);
}
.choose__card--cyan {
  background-color: var(--clr-primary-400);
}
.choose__icon {
  font-size: 3rem;
}
.choose__card-title {
  font-family: var(--ff-poppins-light);
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 0.5em;
  letter-spacing: -0.04em;
}
.choose__card-desc {
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 1.125rem;
  line-height: 1.2;
  margin-top: 0.5em;
}

.clients {
  padding-block: 1.75em;
  background: #fff;
}
.clients__heading {
  color: var(--clr-primary-300);
  text-align: center;
}
.clients__description {
  color: var(--clr-primary-500);
  text-align: center;
  margin-bottom: 1em;
}
.clients__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 62.94em) {
  .clients__row {
    flex-direction: row;
  }
}
.clients__logo {
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
  cursor: pointer;
}
.clients__logo:hover {
  filter: grayscale(0%);
}

.testimonials {
  padding-top: 1.5em;
  padding-bottom: 6em;
  position: relative;
}
.testimonials__heading {
  color: var(--clr-primary-400);
  text-align: center;
  margin-bottom: 0.5em;
}
.testimonials__button {
  background: transparent;
  border: none;
  font-size: 1em !important;
  position: absolute;
  top: 53% !important;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.testimonials__button:hover {
  color: var(--clr-primary-400);
}
.testimonials__button--prev {
  left: 5% !important;
}
.testimonials__button--next {
  right: 5% !important;
}
.testimonials__dot {
  bottom: 45px !important;
}

.testimonial {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  padding: 1.5em;
  border-radius: 0.2em;
  box-shadow: 1px 0px 20px var(--clr-primary-600);
  border: 1px solid var(--clr-primary-300);
  display: flex;
  width: 32.4%;
  gap: 4%;
}
.testimonial + .testimonial {
  margin-left: 1em;
}
.testimonial__avatar {
  width: 10em;
  height: fit-content;
  border-radius: 50%;
  overflow: hidden;
  max-width: 17em;
  aspect-ratio: 1;
}
.testimonial__username {
  font-family: var(--ff-poppins-light);
  color: var(--clr-primary-300);
  font-size: 0.9375rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.testimonial__icon {
  color: #eacf76;
  font-size: 0.75rem;
}
.testimonial__description {
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 0.9375rem;
  line-height: 1.5;
  margin-top: 0.5em;
  color: var(--clr-primary-500);
}

.support {
  background-color: #fff;
  padding-top: 0.5em;
  padding-bottom: 2em;
}
@media (min-width: 62.94em) {
  .support {
    background-image: url("/support.874de5d9.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 2em;
    padding-bottom: 3.5em;
  }
}
.support__heading {
  color: var(--clr-primary-300);
  text-align: center;
  margin-block: 0.5em;
}
.support__img {
  margin-top: -1.3em;
  margin-bottom: -2em;
}
@media (min-width: 62.94em) {
  .support__img {
    display: none;
  }
}
.support__description {
  color: var(--clr-primary-500);
  font-family: var(--ff-poppins-regular);
  font-size: 0.9375rem;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 62.94em) {
  .support__description {
    font-size: 1.125rem;
    width: 45%;
    text-align: left;
  }
}
.support__form {
  max-width: 32em;
  font-family: var(--ff-sf-pro-text-regular);
  font-size: 1rem;
  margin-top: 1em;
  /* Firefox */
}
.support__form * {
  padding-inline: 0.5em;
  border-radius: 0.4em;
  border: 1px solid var(--clr-primary-100);
  transition: border 0.3s ease-in-out;
  color: var(--clr-primary-500);
}
.support__form *:focus {
  outline: var(--clr-primary-300) solid 1px;
  border: 1px solid var(--clr-primary-300);
}
.support__form input[type=text],
.support__form input[type=email],
.support__form input[type=number] {
  width: 100%;
  padding-block: 0.5em;
  margin-top: 0.8em;
}
@media (min-width: 62.94em) {
  .support__form input[type=text],
.support__form input[type=email],
.support__form input[type=number] {
    width: 49.5%;
  }
}
.support__form input::-webkit-outer-spin-button,
.support__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.support__form input[type=number] {
  -moz-appearance: textfield;
}
.support__form input[type=submit] {
  color: var(--clr-primary-200);
  cursor: pointer;
}
.support__form textarea {
  width: 100%;
  resize: none;
  padding-block: 0.5em;
  margin-top: 0.7em;
}

.demo {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5em;
}
.demo__heading {
  color: var(--clr-primary-400);
  text-align: center;
  margin-bottom: 0.2em;
}
.demo__description {
  color: var(--clr-primary-500);
  font-size: 1rem;
  font-family: var(--ff-poppins-regular);
  text-align: center;
  width: 80%;
}
@media (min-width: 62.94em) {
  .demo__description {
    font-size: 1.3125rem;
    margin-top: 0.7em;
    width: 45%;
  }
}

.footer {
  background-color: var(--clr-primary-100);
  padding-block: 1.875em;
}
.footer__heading {
  font-family: var(--ff-poppins-regular);
  color: var(--clr-primary-200);
  text-align: center;
  margin-bottom: 0.4em;
}
.footer__icons-row {
  display: flex;
}
.footer__link {
  text-decoration: none;
  display: inline-block;
}
.footer__link + .footer__link {
  margin-left: 1em;
}
.footer__link:hover .footer__social-icon {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-400);
}
.footer__social-icon {
  font-size: 1.125rem;
  color: var(--clr-primary-100);
  display: inline-block;
  background-color: var(--clr-primary-200);
  border-radius: 50%;
  width: 1.7em;
  aspect-ratio: 1;
  display: grid !important;
  place-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (min-width: 62.94em) {
  .footer__social-icon {
    font-size: 1.5rem;
  }
}
.footer__copyright {
  font-family: var(--ff-poppins-regular);
  color: var(--clr-primary-200);
  text-align: center;
  font-size: 0.875rem;
  margin-top: 2em;
}
@media (min-width: 62.94em) {
  .footer__copyright {
    margin-top: 3em;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s transform ease, 1s opacity ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.construction {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-block: 1em;
}
.construction__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: inline;
}

:root {
  --clr-primary-100: hsl(199deg, 98%, 48%);
  --clr-primary-200: hsl(210deg, 17%, 98%);
  --clr-primary-300: hsl(14deg, 94%, 73%);
  --clr-primary-400: hsl(182deg, 99%, 39%);
  --clr-primary-500: hsl(0deg, 0%, 45%);
  --clr-primary-600: hsla(0deg, 0%, 0%, 0.13);
  --ff-poppins-bold: 'Poppins Bold';
  --ff-poppins-light: 'Poppins Light';
  --ff-poppins-medium: 'Poppins Medium';
  --ff-poppins-regular: 'Poppins Regular';
  --ff-sf-pro-text-medium: 'SF Pro Text Medium';
  --ff-sf-pro-text-regular: 'SF Pro Text Regular';
}

html,
body {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-200);
}

@media (min-width: 62.94em) {
  .row {
    display: flex;
    flex-direction: row;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.top {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

@media (min-width: 62.94em) {
  .col-md-3 {
    flex: 0 0 23.8%;
    max-width: 23.8%;
  }
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.gap-2 {
  gap: 2%;
}

/*# sourceMappingURL=/main.07544d9b.css.map */